<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <form action="/signup" method="post">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
   Name   <input type="text" name="name">
    <br>ID  <input type="number" name="id">
    <br>
    <button type="submit">Signup</button>
    </form>
    <%=Message%>
    <form>
    
    </form>
  </body>
</html>